body {
	max-width: 1170px;
	margin: 0 auto;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #949494;	
}

.layout-center {
	width: 1140px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1,h2,h3,p {
	margin: 0;
	padding: 0;
}

.main-header {	
	height: 698px;
	background: url("../img/header-background.jpeg") no-repeat 50% 50%;
}

.top-row {	
	padding: 22px 0;
	margin-bottom: 132px;
}

.logo {
	float: left;	
	width: 165px;	
}

.main-nav {
	float: left;
	width: 555px;
}

.main-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 23px;
	font-family: "Open Sans","Arial", sans-serif;
	font-size: 12px;
	line-height: 44px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #9daeb6;
}

.call {
	float: right;
	width: 153px;	
}

.btn-call {
	display: block;
	width: 147px;
	font-family: "Raleway","Arial", sans-serif;
	font-size: 12px;
	line-height: 39px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.92px;
	color: #36aeea;
	border: 3px solid #36aeea;
	border-radius: 3px;
}

.header-title {
	height: 324px;
	padding-top: 40px; 
	padding-left: 30px; 
	background: url("../img/rectangle.png") no-repeat 5px 0;
}

.slogan {
	height: 86px;
	margin-bottom: 20px; 
	background: url("../img/header-title.png") no-repeat;
}

.header-text {
	width: 440px;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 29px;
	color: #ffffff;
}

.btn {
	display: block;
	width: 254px;
	padding: 8px 0;
	font-family: "Raleway","Arial", sans-serif;
	font-size: 14px;
	line-height: 44px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2.24px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #36aeea;
}

.waves:before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 71px;
	height: 7px;	
	background: url("../img/spritesheet.png") no-repeat -5px -164px;
}

.about {
	margin-bottom: 72px;
	padding-top: 256px; 
	height: 528px;	
	background: #f6f4f4 url("../img/world-map.png") no-repeat 100px 20px;		
}

.section-title {	
	margin-bottom: 19px;
	font-size: 20px;
	line-height: 42.73px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-title-center {
	margin-bottom: 66px;
	font-size: 30px;
	line-height: 42.73px;
	text-align: center;
}

.section-text {
	width: 360px;
	margin-bottom: 26px; 
}

.about .btn {
	width: 135px;
	padding: 0;
	font-size: 12px;
	line-height: 42.73px; 
}

.journal-list {
	font-size: 0;
}

.journal-item {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	height: 286px;
	padding: 47px 30px;
	font-size: 14px;
	line-height: 22.8px;	
	text-align: center;
}

.journal-item:first-child {
	background: url("../img/journal-image-1.jpeg") no-repeat; 
}

.journal-item:nth-child(3) {
	background: url("../img/journal-image-2.jpeg") no-repeat; 
}

.journal-item:nth-child(5) {
	background: url("../img/journal-image-2.jpeg") no-repeat; 
}

.journal-item-name {
	display: block;
	margin-bottom: 40px;
	font-style: 11px;
	line-height: 12.54px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.65px;
	color: #16b5ef;
}

.journal-item-header {
	margin-bottom: 25px;
	font-size: 16.15px;
	line-height: 24.23px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2.4;
	color: #000000;
}

.journal-item-text {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 22.8px;
}

.journal-item-number {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 17.1px;
}

.order {
	position: relative;
	padding-top: 192px; 
	margin-bottom: 72px;
	min-height: 500px;	
	background:	url("../img/order-image-2.png") no-repeat 100% 100%,
							url("../img/order-image-1.png") no-repeat 50% 120%,
							#f6f4f4;							
}

.order .section-title {
	padding-top: 31px; 
	margin-bottom: 9px;
}

.order .section-text {
	width: 750px;
	font-size: 16px;
	line-height: 26px;
}

.form-wrapper {
	position: relative;
	width: 848px;
	padding: 3px;
	padding-left: 20px;
	padding-right: 0;  
	background-color: #ffffff;
}

.form-wrapper input[type="text"] {	
	width: 260px;
	font-family: "Open Sans","Arial", sans-serif;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.32px;
	border: none;
	outline: none;
}

.form-wrapper input[type="text"]:first-child {	
	margin-right: 46px;
}

.form-wrapper:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 300px;
	width: 2px;
	height: 35px;
	transform: translateY(-50%);
	background-color: #848484;
	opacity: 0.25;
}

.form-wrapper .btn {	
	display: inline-block;
	vertical-align: middle;	
	margin-left: 20px;
	border: none;
	outline: none;
}

.protection {
	font-style: 14px;
	line-height: 34px;
	letter-spacing: 0.28;
	color: #36aeea;
}

.work {
	position: relative;
	margin-bottom: 106px;
	min-height: 119px;	
}

.work-principles {
	font-size: 0;
}

.principles-item {
	display: inline-block;
	vertical-align: top;
	width: 212px;
	margin-right: 30px;
	padding: 0 25px;	
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.principles-item:last-child {
	margin-right: 0;
}

.principles-number {
	width: 45px;
	height: 45px;
	margin: 0 auto;
	margin-bottom: 58px;
	border: 4px solid #3bb0eb;
	border-radius: 50%;
	line-height: 46px;
	text-align: center;
	color: #3bb0eb;
}

.principles-icon {
	position: relative;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 50%;	
	background: #f0f3f6 url("../img/polygon.png") no-repeat 50% 50%;	
	/*transform: rotate(58deg);*/
}

.principles-icon:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	background: url("../img/spritesheet.png") no-repeat;	
}

.principles-item:first-child .principles-icon:before {
	width: 32px;
	height: 40px;
	background: url("../img/spritesheet.png") no-repeat -96px -164px;	
}

.principles-item:nth-child(2) .principles-icon:before {
	width: 40px;
	height: 40px;
	background: url("../img/spritesheet.png") no-repeat -138px -164px;	
}

.principles-item:nth-child(3) .principles-icon:before {
	width: 38px;
	height: 38px;
	background: url("../img/spritesheet.png") no-repeat -188px -164px;	
}

.principles-item:nth-child(4) .principles-icon:before {
	width: 38px;
	height: 38px;
	background: url("../img/spritesheet.png") no-repeat -236px -164px;	
}

.principles-title {
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 24.23px;
	color: #000000;
}

.principles-text {
	font-size: 14px;
	line-height: 22.8px;
}

.travel {
	margin-bottom: 72px;
	min-height: 902px;
	background: 
	url("../img/world-map.png") no-repeat 0 0,
	url("../img/travel-background.jpg") no-repeat -550px 100%;
}

.places {
	font-size: 0;
}

.place-item {		
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 382px;
	margin-right: 35px;	 
	font-size: 16px;
	line-height: 22px;
	/*text-align: left;*/
	background-color: #e5e5e5;
	color: #ffffff;	
	border-radius: 3px;
}

.place-item:first-child {
	background: url("../img/carpathian.jpg") no-repeat 50% 0;
}

.place-item:nth-child(2) {
	background: url("../img/alps.jpg") no-repeat 0 0;
}

.place-item:nth-child(3) {
	background: url("../img/pyrynees.jpg") no-repeat 0 0;
}

.place-item:nth-child(4) {
	background: url("../img/rocky.jpg") no-repeat 0 0;
}

.place-item:last-child {
	margin-right: 0;
	background: url("../img/kavkaz.jpg") no-repeat 0 0;
}

.place-item-title {	
	margin-left: 20px;
	padding-top: 134px;
	font-size: 28px;
	line-height: 63px;
}

.place-item-text {
	margin-left: 20px;
	margin-bottom: 78px;
	font-size: 16px;
	line-height: 22px;	
}

.prices {		
	padding: 20px;
	font-size: 18px;
	line-height: 22px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 3px;
}

.old-price,
.new-price {	
	vertical-align: middle;	
}

.old-price {	 
	text-decoration: line-through;	
}

.new-price {
	font-size: 26px;	
	text-align: right;
}

.reviews {	
	font-size: 0;
	height: 500px;	
}

.review-item {
	display: inline-block;
	vertical-align: top;
	width: 555px;
	margin-right: 30px;
	font-size: 18px;
	line-height: 33px;	
}

.review-item:last-child {
	margin-right: 0;
}

.review-text {
	margin-bottom: 27px;
}

.author-avatar {
	display: inline-block;
	vertical-align: middle;
	width: 68px;
	height: 68px;	
	margin-right: 15px;	
}

.author-avatar img {
	border-radius: 50%;
}

.author-name,
.author-job {
	font-size: 16px;
	color: #36aeea;
}

.author-name {
	font-weight: bold;
}

.footer {	
	height: 1076px;
	background: 
	url("../img/contacts-background.png") no-repeat 0 0,
	url("../img/reviews-background.png") no-repeat 50% 0;

	
}
