body {
	max-width: 1170px;
	margin: 0 auto;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	color: #949494;	
}

.layout-center {
	width: 1140px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1,h2,p {
	margin: 0;
	padding: 0;
}

.main-header {	
	height: 698px;
	background: url("../img/header-background.jpeg") no-repeat 50% 50%;
}

.top-row {
	padding: 22px 0;
	margin-bottom: 132px;
}

.logo {
	float: left;	
	width: 165px;	
}

.main-nav {
	float: left;
	width: 555px;
}

.main-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 23px;
	font-family: "Open Sans","Arial", sans-serif;
	font-size: 12px;
	line-height: 44px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #9daeb6;
}

.call {
	float: right;
	width: 153px;	
}

.btn-call {
	display: block;
	width: 147px;
	font-family: "Raleway","Arial", sans-serif;
	font-size: 12px;
	line-height: 39px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.92px;
	color: #36aeea;
	border: 3px solid #36aeea;
	border-radius: 3px;
}

.header-title {
	height: 324px;
	padding-top: 40px; 
	padding-left: 30px; 
	background: url("../img/rectangle.png") no-repeat 5px 0;
}

.slogan {
	height: 86px;
	margin-bottom: 20px; 
	background: url("../img/header-title.png") no-repeat;
}

.header-text {
	width: 440px;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 29px;
	color: #ffffff;
}

.btn {
	display: block;
	width: 254px;
	padding: 8px 0;
	font-family: "Raleway","Arial", sans-serif;
	font-size: 14px;
	line-height: 44px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2.24px;
	border-radius: 3px;
	color: #ffffff;
	background-color: #36aeea;
}

.about {
	padding-top: 256px; 
	height: 528px;	
	background: #f6f4f4 url("../img/about-background.png") no-repeat 100px 20px;		
}

.section-title {
	margin-bottom: 19px;
	font-size: 20px;
	line-height: 42.73px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.section-text {
	width: 360px;
	margin-bottom: 26px; 
}

.about .btn {
	width: 135px;
	padding: 0;
	font-size: 12px;
	line-height: 42.73px; 
}

.journal {
	padding: 74px 0;
}

.journal .section-title {
	font-size: 30px;
	line-height: 42.73px;
	text-align: center;
}

.journal-list {
	font-size: 0;
}

.journal-item {
	display: inline-block;
	vertical-align: top;
	width: 380px;
	height: 380px;
	font-size: 14px;
	line-height: 22.8px;	
}

.journal-item:first-child {
	background: url("../img/journal-image-1.jpeg") no-repeat; 
}

.journal-item:nth-child(3) {
	background: url("../img/journal-image-2.jpeg") no-repeat; 
}

.journal-item:nth-child(5) {
	background: url("../img/journal-image-2.jpeg") no-repeat; 
}
